<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start" class="ion-no-margin">
      <ion-back-button defaultHref="tabs/home" icon="chevron-back" mode="md" class="btn-back"></ion-back-button>
    </ion-buttons>
    <ion-title header-title>Perdeu a Senha</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-horizontal ion-text-center">
  <ion-icon class="forgot-icon" src="../../../assets/svg_icon/forgot.svg"></ion-icon>
  <h5 class="info-title">Por favor entre com o email Registrado</h5>
  <p class="info-text">Nós iremos enviar um código em seu email</p>
  <form action="" #f="ngForm">
    <ion-input custom-input type="email" placeholder="Email" [(ngModel)]="data.email" name="email" required></ion-input>
    <p class="err" *ngIf="err?.email">{{err?.email}}*</p>

    <ion-button expand="block" class="ion-no-margin btn-general" (click)="doNext()" [disabled]="!f.valid">
      Pŕoximo
    </ion-button>
  </form>
</ion-content>